<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite" >
    <test name="Test">
        <parameter name="username" value="admin"></parameter>
        <parameter name="password" value="password"></parameter>
        <!--<groups>
            <run>
                <include name="HeaderTests" />
                <include name="ButtonTests" />
                <exclude name="HeaderTests" />
            </run>
        </groups>-->
        <classes>
            <class name="ProjectJOB.TestsJOB"/>
            <class name="ProjectJOB.TestsJOB_Backend"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->